name: my_portfolio
description: "A new Flutter project."
 
publish_to: 'none'  

 
version: 1.0.0+1

environment:
  sdk: ^3.10.4


dependencies:
  flutter:
    sdk: flutter
  # State Management
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  
  # UI & Animations
  google_fonts: ^6.1.0
  animated_text_kit: ^4.2.2
  flutter_animate: ^4.5.0
  
  # Utilities
  url_launcher: ^6.2.1
  

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

   
  flutter_lints: ^6.0.0

 
flutter:

 
  uses-material-design: true
